{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

{%- assign cb_layout =  section.settings.cb_layout -%}


<section id="{{ section.settings.title | handle }}" class="ac-json-schema l-main__content-block--{{ section.id }} u-bgc-{{ cb_background_colour_class  }} {{ cb_layout_desk_width_50_class }} is-image-layout-{{ cb_image_layout }} {{ cb_desktop_image_class }}" data-section-id="{{ section.id }}" data-section-type="content-block" >
  <div class="c-content-block">
    <div class="c-content-block__row">
      {% if cb_layout == '5050' %}
      <div class="c-content-block__col">
        <div class="c-content-block__content">
          <div class="c-content-block__content">
            <h2 class="c-content-block__heading"></h2>
            <div class="c-content-block__body"></div>
            <div class="c-content-block__footer"></div>
          </div>
        </div>
      </div>
      <div class="c-content-block__col">
        <div class="c-content-block__content">
          <h2 class="c-content-block__heading"></h2>
          <div class="c-content-block__body"></div>
          <div class="c-content-block__footer"></div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Content Block AC Test 123",
  "class": "section-block",
  "category": "Content",

  "settings": [

    {
      "type": "select",
      "id": "cb_background_colour",
      "label": "Background colour",
      "default": "t",
      "options": [
        {
          "value": "t",
          "label": "Transparent"
        },
        {
          "value": "1",
          "label": "BBD Yellow"
        },
        {
          "value": "2",
          "label": "BBD Indigo"
        },
        {
          "value": "3",
          "label": "BBD Pink"
        },
        {
          "value": "4",
          "label": "BBD Green"
        },
        {
          "value": "5",
          "label": "BBD Blue"
        },
        {
          "value": "w",
          "label": "BBD white"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Page Block Heading"
    },
    {
      "type": "select",
      "id": "cb_heading_size",
      "label": "Heading Size",
      "default": "2",
      "options": [
        {
          "value": "2",
          "label": "Normal"
        },
        {
          "value": "k",
          "label": "Bigger"
        }
      ]
    },
    {
      "type": "select",
      "id": "cb_heading_colour",
      "label": "Heading colour",
      "default": "w",
      "options": [
        {
          "value": "1",
          "label": "BBD Yellow"
        },
        {
          "value": "2",
          "label": "BBD Indigo"
        },
        {
          "value": "3",
          "label": "BBD Pink"
        },
        {
          "value": "4",
          "label": "BBD Green"
        },
        {
          "value": "5",
          "label": "BBD Blue"
        },
        {
          "value": "w",
          "label": "BBD white"
        }
      ]
    },
    {
      "type": "select",
      "id": "cb_heading_layout",
      "label": "Heading Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "cb_hide_title",
      "label": "Hide the title",
      "default": false
    },
    {
      "type": "text",
      "id": "cb_sub_title",
      "label": "Sub Heading",
      "default": "An optional Subheading or strapline"
    },
    {
      "type": "richtext",
      "id": "cb_text",
      "label": "Text",
      "default": "<p>An optional intro paragraph for the icon list.</p>"
    },
    {
      "type": "select",
      "id": "cb_text_colour",
      "label": "Text colour",
      "default": "w",
      "options": [
        {
          "value": "1",
          "label": "BBD Yellow"
        },
        {
          "value": "2",
          "label": "BBD Indigo"
        },
        {
          "value": "3",
          "label": "BBD Pink"
        },
        {
          "value": "4",
          "label": "BBD Green"
        },
        {
          "value": "5",
          "label": "BBD Blue"
        },
        {
          "value": "w",
          "label": "BBD white"
        }
      ]
    },
    {
      "type": "select",
      "id": "cb_text_layout",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ]
    },
    {
      "type": "text",
      "id": "cb_button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "cb_button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "cb_button_colour",
      "label": "Button colour",
      "default": "w",
      "options": [
        {
          "value": "1",
          "label": "BBD Yellow"
        },
        {
          "value": "2",
          "label": "BBD Indigo"
        },
        {
          "value": "3",
          "label": "BBD Pink"
        },
        {
          "value": "4",
          "label": "BBD Green"
        },
        {
          "value": "5",
          "label": "BBD Blue"
        },
        {
          "value": "w",
          "label": "BBD white"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "cb_desk_width_50",
      "label": "Desktop block width 50%",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Icon Title"
        },
        {
          "type": "image_picker",
          "id": "cb_icon_image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "cb_icon_hide_title",
          "label": "Hide the title",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Block AC Test preset 123",
      "category": "Content"
    }
  ]

}
{% endschema %}
