{% assign pageImage = page.metafields.global.feature_image %}
{% assign pageHeroImage = images[page.metafields.global.hero_image] %}
{% assign pageHeroText = page.metafields.global.hero_text %}
{% assign pageFooterText = page.metafields.block_footer.text %}
{% assign pageFooterButtonUrl = page.metafields.block_footer.button_url %}
{% assign pageFooterButtonText = page.metafields.block_footer.button_text %}
{% assign classBlockPadding = page.metafields.blocks.block_padding %}
{% assign classHeroBackground = page.metafields.global.hero_background %}
{% if page.metafields.global.page_handle %}
  {% assign pageHandle = page.metafields.global.page_handle %}
{% else %}
  {% assign pageHandle = page.handle %}
{% endif %}


{% if page.metafields.global.hero_image %}
  {% assign classHeroImage = 'has-hero-image' %}
{% endif %}
{% if pageHeroText %}
  {% assign classHeroText = 'has-hero-text' %}
{% endif %}

<div class="l-main__page--static-page l-main__page--{{ page.title | handle }}">
  <div class="l-page--static-page l-page--{{ page.title | handle }}">
    <div class="l-page__header--static-page l-page__header--{{ page.title | handle }} {{ classHeroImage }} {{ classHeroText }} u-bgc-{{ classHeroBackground}}" role="banner">

      <div class="c-header--static-page">

        <h1 class="c-header__heading--static-page l-page__heading--{{ page.title | handle }}" >
          <span class="c-header__title">{{ page.title }}</span>
        </h1>

      </div>



    </div>



    <div class="l-page__content--static-page">
      {% if page.content != blank %}
        <div class="l-page__rte--static-page rte" >
          {{ page.content }}
        </div>
      {% endif %}
    </div>

  </div>
  <div class="l-page-after--story">
    {% for block in section.blocks %}
    <div class="c-content-block">
      <div class="c-content-block__row">
      {{ block.settings.content_title }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Story Block",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "Page_title",
      "label": "Page Title",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "Page_subtitle",
      "label": "Page Subtitle",
      "default": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Page Hero Image"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content_body",
          "label": "Content Body",
          "default": "<p>Add some basic text</p>"
        },
        {
          "type": "image_picker",
          "id": "content_image",
          "label": "Content image"
        },
        {
          "type": "text",
          "id": "content_btn_1_label",
          "label": "Button 1 Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "content_btn_1_link",
          "label": "Button 1 link"
        },
        {
          "type": "text",
          "id": "content_btn_2_label",
          "label": "Button 2 Label",
          "default": "Find Out More"
        },
        {
          "type": "url",
          "id": "content_btn_2_link",
          "label": "Button 2 link"
        }
      ]
    }
  ]
}
{% endschema %}
