{% assign pageImage = section.settings.hero_image %}
{% assign pageImageMobile = section.settings.hero_image_mobile %}
{% assign pageTitle = section.settings.page_title %}
{% assign pageSubtitle = section.settings.page_subtitle %}
{% assign hidePageContent = section.settings.hide_page_content %}
{% if page.metafields.global.page_handle %}
  {% assign pageHandle = page.metafields.global.page_handle %}
{% else %}
  {% assign pageHandle = page.handle %}
{% endif %}


{% if page.metafields.global.hero_image %}
  {% assign classHeroImage = 'has-hero-image' %}
{% endif %}
{% if pageHeroText %}
  {% assign classHeroText = 'has-hero-text' %}
{% endif %}

<div class="l-main__page--{{ page.title | handle }} l-main__page--story-template">
  <div class="l-page--{{ page.title | handle }} l-page--story-template">
    <header class="l-page__header--story-template">
      {% if pageImage %}
        <div class="l-page__feature-image--story-template l-page__feature-image--static-page">
          {% include 'responsive-image' with
            image: pageImage,
            max_width: 1440,
            max_height: 600
          %}
        </div>
      {% else %}
        <!-- no section.settings.hero_image -->
      {% endif %}
      {% if pageImageMobile != blank %}
        <div class="l-page__feature-image--story-template-mobile">
          {% include 'responsive-image' with
            image: pageImageMobile,
            max_width: 800,
            max_height: 600
          %}
        </div>
        {% else %}
        <!-- section.settings.hero_image_mobile -->
      {% endif %}
      <div class="c-header__content-wrap--story-template">
        <header class="c-header--story-template">
          <h1 class="c-header__heading--story-template">
            <span class="c-header__title">{{ pageTitle }}</span>
          </h1>
          {% if pageSubtitle != blank %}
            <h4 class="c-header__sub-heading">
              {{ pageSubtitle }}
            </h4>
            {% else %}
            <!-- NO section.settings.page_subtitle -->
          {% endif %}
        </header>
      </div>
    </header>
    {% unless hidePageContent %}
    <div class="l-page__content--story-template">
      {% if page.content != blank %}
        <div class="l-page__rte--story-template rte" >
          {{ page.content }}
        </div>
      {% endif %}
    </div>
    {% endunless %}

  </div>
  <div class="l-page-after--story">
    {% for block in section.blocks %}
    <div class="c-content-block">
      <div class="c-content-block__row">
      {{ block.settings.content_title }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Story Block",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Page Title",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "page_subtitle",
      "label": "Page Subtitle",
      "default": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Page Hero Image"
    },
    {
      "type": "image_picker",
      "id": "hero_image_mobile",
      "label": "Page Hero Image Mobile"
    },
    {
      "type": "checkbox",
      "id": "hide_page_content",
      "label": "Hide the page content area",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text_content",
      "name": "Text Content Block",
      "settings": [
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content_body_1",
          "label": "Content Body Col 1",
          "default": "<p>Add some basic text</p>"
        },
        {
          "type": "richtext",
          "id": "content_body_2",
          "label": "Content Body  Col 2",
          "default": "<p>Add some basic text</p>"
        },
        {
          "type": "text",
          "id": "content_btn_1_label",
          "label": "Button 1 Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "content_btn_1_link",
          "label": "Button 1 link"
        },
        {
          "type": "text",
          "id": "content_btn_2_label",
          "label": "Button 2 Label",
          "default": "Find Out More"
        },
        {
          "type": "url",
          "id": "content_btn_2_link",
          "label": "Button 2 link"
        }
      ]
    },
    {
      "type": "image_content",
      "name": "Image Content Block",
      "settings": [
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content_body",
          "label": "Content Body",
          "default": "<p>Add some basic text</p>"
        },
        {
          "type": "image_picker",
          "id": "content_image",
          "label": "Content image"
        },
        {
          "type": "text",
          "id": "content_btn_1_label",
          "label": "Button 1 Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "content_btn_1_link",
          "label": "Button 1 link"
        },
        {
          "type": "text",
          "id": "content_btn_2_label",
          "label": "Button 2 Label",
          "default": "Find Out More"
        },
        {
          "type": "url",
          "id": "content_btn_2_link",
          "label": "Button 2 link"
        }
      ]
    }
  ]
}
{% endschema %}
