{% assign pageImage = section.settings.hero_image %}
{% assign pageHeroImage = images[page.metafields.global.hero_image] %}
{% assign pageHeroText = page.metafields.global.hero_text %}
{% assign pageFooterText = page.metafields.block_footer.text %}
{% assign pageFooterButtonUrl = page.metafields.block_footer.button_url %}
{% assign pageFooterButtonText = page.metafields.block_footer.button_text %}
{% assign classBlockPadding = page.metafields.blocks.block_padding %}
{% assign classHeroBackground = page.metafields.global.hero_background %}
{% if page.metafields.global.page_handle %}
  {% assign pageHandle = page.metafields.global.page_handle %}
{% else %}
  {% assign pageHandle = page.handle %}
{% endif %}


{% if page.metafields.global.hero_image %}
  {% assign classHeroImage = 'has-hero-image' %}
{% endif %}
{% if pageHeroText %}
  {% assign classHeroText = 'has-hero-text' %}
{% endif %}

<div class="l-main__page--static-page l-main__page--{{ page.title | handle }} l-main__page--story-template">
  <div class="l-page--static-page l-page--{{ page.title | handle }} l-page--story-template">
    <div class="l-page__header--static-page some-test">
      pageImage {{ pageImage }}
      pageTitle {{ section.settings.title }}
      {% if pageImage %}
        <div class="l-page__feature-image--story-template l-page__feature-image--static-page">
          {% include 'responsive-image' with
            image: pageImage,
            max_width: 1440,
            max_height: 600
          %}
        </div>
      {% else %}
        <!-- no collection image -->
      {% endif %}
      {% if featureImage != blank %}
        <div class="l-page__feature-image--collection-mobile">
          {% include 'responsive-image' with
            image: featureImage,
            max_width: 800,
            max_height: 600
          %}
        </div>
      {% endif %}

      <div class="collection-header-content-wrap">
        <header class="c-header--collection">
          <h1 class="c-header__heading--collection">
            <span class="c-header__title">{{ collectionTitle }}</span>
            {% if collectionType != '' %}
              <span class="c-header__type">{{ collectionType }}</span>
            {% endif %}
          </h1>
          {% if collectionSubHeading != blank %}
            <h4 class="c-header__sub-heading">
              {{ collectionSubHeading }}
            </h4>
          {% endif %}
        </header>
        {% if filterMenuHandle != blank %}
          <div class="l-page__nav-menu--collection-filter">
            <div class="c-nav-menu--collection-filter">
              <ul class="c-nav-menu__list--collection-filter">
                {% for link in linklists[filterMenuHandle].links %}
                  <li  class="c-nav-menu__item--collection-filter {% if link.active %}is-current{% endif %}" >
                    <a  class="c-nav-menu__link--collection-filter"  href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
      {% comment %}
        <div class="l-page__tag-list">
          {% include 'ac-tag-list' %}
        </div>
      {% endcomment %}
    </div>



    <div class="l-page__content--static-page">
      {% if page.content != blank %}
        <div class="l-page__rte--static-page rte" >
          {{ page.content }}
        </div>
      {% endif %}
    </div>

  </div>
  <div class="l-page-after--story">
    {% for block in section.blocks %}
    <div class="c-content-block">
      <div class="c-content-block__row">
      {{ block.settings.content_title }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Story Block",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Page Title",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "page_subtitle",
      "label": "Page Subtitle",
      "default": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Page Hero Image"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content_body",
          "label": "Content Body",
          "default": "<p>Add some basic text</p>"
        },
        {
          "type": "image_picker",
          "id": "content_image",
          "label": "Content image"
        },
        {
          "type": "text",
          "id": "content_btn_1_label",
          "label": "Button 1 Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "content_btn_1_link",
          "label": "Button 1 link"
        },
        {
          "type": "text",
          "id": "content_btn_2_label",
          "label": "Button 2 Label",
          "default": "Find Out More"
        },
        {
          "type": "url",
          "id": "content_btn_2_link",
          "label": "Button 2 link"
        }
      ]
    }
  ]
}
{% endschema %}
